
<h1>Hello there <%=@user.first_name %></h1>

<p>Below is a listing of the top colleges you may wish to attend </p>

<table border="1" class='user_college'>
  <caption>College wishlist</caption>
  <thead>
    <tr>
      <th>College name</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>USC</th>
      <td><a href="https://www.google.com/?gws_rd=ssl">Google</a></td>
    </tr>
     <tr>
      <th></th>
      <td></td>
    </tr>
     <tr>
      <th></th>
      <td></td>
    </tr>
     <tr>
      <th></th>
      <td></td>
    </tr>
  </tbody>
</table>


<table border="1" class="info">
  <caption>Student information</caption>
  <thead>
    <tr>
      <th>Category</th>
      <th>Info </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>First name</th>
      <td><%= @user.first_name%></td>
    </tr>
    <tr>
      <th>Last name</th>
      <td><%= @user.last_name%></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <th>GPA</th>
      <td><%= @user.gpa%></td>
    </tr>
    <tr>
      <th>Current School</th>
      <td><%= @user.current_school%></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= @user.dob %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'logout', logout_path, method: :delete %>
<%= link_to 'edit account', edit_path, method: :get %>
<%= link_to "delete account", delete_path, method: :delete, confirm: "Are you sure?" %>


<p>Please enter the name of the college you wish to attend</p>

<%= form_tag(college_search_path,{method: :get}) do %>
  <%= text_field_tag(:college_name) %>
  <%= submit_tag("Search") %>
<%end%>


