<h1>Hello there <%=@user.first_name %></h1>

<table border="1" class="info">
  <caption>Student information</caption>
  <thead>
    <tr>
      <th>Category</th>
      <th>Info </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>First name</th>
      <td><%= @user.first_name%></td>
    </tr>
    <tr>
      <th>Last name</th>
      <td><%= @user.last_name%></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= @user.email%></td>
    </tr>
    <tr>
      <th>GPA</th>
      <td><%= @user.gpa%></td>
    </tr>
    <tr>
      <th>Current School</th>
      <td><%= @user.current_school%></td>
    </tr>
    <tr>
      <th>Date of Birth</th>
      <td><%= @user.dob %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'logout', logout_path, method: :delete %>
<%= link_to 'edit account', edit_path, method: :get %>
<%= link_to "delete account", delete_path, method: :delete, confirm: "Are you sure?" %>


<p>Please enter the name of the college you wish to attend</p>

<%= form_tag(college_search_path,{method: :get}) do %>
  <%= text_field_tag(:college_name) %>
  <%= submit_tag("Search") %>
<%end%>


