<h1>College</h1>




<%= params["INSTNM"]%> <br>
<%= params["ADDR"]%> <br>
<%= params["CITY"]%> <br>
<%= params["STABBR"]%> <br>
<%= params["ZIP"]%> <br>
<%= params["UNITID"]%> <br>
<%= params["WEBADDR"]%> <br>
<%= params["INSTNM"]%> <br>




<%= link_to 'Add to wishlist', add_college_path(params["record"]), method: :post %>


