<h1>Colleges#show</h1>
<p>Find me in app/views/colleges/show.html.erb</p>



<%= params["INSTNM"]%> <br>
<%= params["ADDR"]%> <br>
<%= params["CITY"]%> <br>
<%= params["STABBR"]%> <br>
<%= params["ZIP"]%> <br>
<%= params["UNITID"]%> <br>
<%= params["WEBADDR"]%> <br>
<%= params["INSTNM"]%> <br>




<%= link_to 'Add to wishlist', add_college_path(params["record"]), method: :post %>


